@model CHUSHKA.Web.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Product Details";
}
<main class="mt-3 mb-5">
    <h1 class="text-center">@Model.Name</h1>
    <hr class="hr-2 bg-dark" />
    <div class="half-width mx-auto d-flex justify-content-between">
        <h3 class="text-center">Type: @Model.StringType</h3>
        <h3 class="text-center">Price: $@Model.Price</h3>
    </div>
    <hr class="hr-2 bg-dark" />
    <h3 class="text-center">Description</h3>
    <div>
        <p class="text-center mt-4">
            @Model.Description
        </p>
    </div>
    <hr class="hr-2 bg-dark" />
    <h3 class="text-center">Actions</h3>
    <div class="mt-4 text-center">
        <a asp-controller="Products" asp-action="Order" asp-route-id="@Model.Id" class="btn chushka-bg-color mr-4">Order</a>
        @if (Model.Role == "Administrator")
        {
            <a asp-controller="Products" asp-action="ProductEdit" asp-route-id="@Model.Id" class="btn chushka-bg-color">Edit</a>
            <a asp-controller="Products" asp-action="ProductDelete" asp-route-id="@Model.Id" class="btn chushka-bg-color ml-4">Delete</a>
        }
    </div>
</main>

