@model CHUSHKA.Web.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Admin Home";
    ViewBag.Const = 5;
}
<main class="mt-3 mb-5">
    <div class="container-fluid text-center">
        <h2>Greetings, admin @Model.FullName!</h2>
        <h4>Enjoy your work today!</h4>
    </div>
    <hr class="hr-2 bg-dark" />
    @if (Model.Products.Count > 0)
    {
        <div class="container-fluid">

            @for (var i = 0; i < Model.Products.Count() / ViewBag.Const; i++)
            {
                ViewBag.Tag = i != 0 ? "mt-4" : null;
                <div class="row d-flex justify-content-around @ViewBag.Tag">

                    @for (var j = 0; j < ViewBag.Const; j++)
                    {

                        if (5 * i + j < Model.Products.Count)
                        {
                            var product = (Product)Model.Products.ToList()[ViewBag.Const * i + j];
                            if (product.Description.Length > 50)
                            {
                                product.Description = product.Description.Substring(0, 50) + "...";
                            }
                            <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id" class="col-md-2">
                                <div class="product p-1 chushka-bg-color rounded-top rounded-bottom">
                                    <h5 class="text-center text-white mt-3">@product.Name</h5>
                                    <hr class="hr-1 bg-white" />
                                    <textbox class="text-center text-white" rows="3">@product.Description</textbox>
                                    <hr class="hr-1 bg-white" />
                                    <h6 class="text-center text-white mb-3">$@product.Price</h6>
                                </div>
                            </a>
                        }
                    }
                </div>
            }
            @if (Model.Products.Count % ViewBag.Const > 0)
            {
                <div class="row d-flex justify-content-around mt-4">
                    @for (int k = 0; k < Model.Products.Count % ViewBag.Const; k++)
                    {
                        var product = (Product)Model.Products.ToList()[(Model.Products.Count / ViewBag.Const) * ViewBag.Const + k];
                        if (product.Description.Length > 50)
                        {
                            product.Description = product.Description.Substring(0, 50) + "...";
                        }
                        <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id" class="col-md-2">
                            <div class="product p-1 chushka-bg-color rounded-top rounded-bottom">
                                <h5 class="text-center mt-3">@product.Name</h5>
                                <hr class="hr-1 bg-white" />
                                <texbox class="text-white text-center" rows="3">@product.Description</texbox>
                                <hr class="hr-1 bg-white" />
                                <h6 class="text-center text-white mb-3">$@product.Price</h6>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    }
</main>
@*@section MenuItems{
    <li class="nav-item">
        <a asp-controller="User" asp-action="Create" class="nav-link">Create Product</a>
    </li>
    <li class="nav-item">
        <a asp-controller="User" asp-action="AllOrders" class="nav-link">All Orders</a>
    </li>
}*@